@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.star-checkbox {
    position: absolute;
    left: -9999px;
}

.star-label {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    font-size: 40px;
    line-height: 40px;
    cursor: pointer;
    color: #444;
    transition: color 0.4s ease;

    &:before {
        content: '☆';
        text-align: center;
        display: block;
    }
}

.star-checkbox:checked+.star-label:before {
    content: '★';
    color: #F9BF3B;
    text-shadow: 0 0 20px #F9BF3B;
}

body {
    background-color: #111;
}

.center-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.checkbox-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.checkbox-label {
    display: inline-block;
    margin: 0 10px;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    font-size: 14px;
    user-select: none;
}

.checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkbox-custom {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 4px;
}

.checkbox-label input:checked~.checkbox-custom {
    background-color: #2196F3;
}

.checkbox-custom:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-label input:checked~.checkbox-custom:after {
    display: block;
}

.checkbox-label .checkbox-custom:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

